#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey
/bidjistart.sh
/zip/AnyKernel/META-INF/CERT.RSA
/zip/AnyKernel/META-INF/CERT.SF
/zip/AnyKernel/META-INF/MANIFEST.MF
/zip/AnyKernel/META-INF/com/google/android/update-binary
/zip/AnyKernel/META-INF/com/google/android/updater-script
/zip/AnyKernel/kernel/busybox
/zip/AnyKernel/kernel/edit_ramdisk.sh
/zip/AnyKernel/kernel/fstab.shamu
/zip/AnyKernel/kernel/init.shamu.power.rc
/zip/AnyKernel/kernel/mkbootimg
/zip/AnyKernel/kernel/mkbootimg.sh
/zip/AnyKernel/kernel/unpackbootimg
/zip/AnyKernel/kernel/zImage
/zip/bidji-find5-AnyKernel-02-03-2016-.zip
/zip/bidji-find5-AnyKernel-v.0.6u-m-testbuild.zip
